* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #d2d1d2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 200px 200px 200px 150px 150px 100px 200px;
    gap: 2rem;
    margin: 2em;
    /* grid-template-areas: 
    "header header"
    "post1 about_me"
    "post1 popular"
    "post2 popular"
    "post2 follow"
    "post2 post2"
    "footer footer"; */
}
header {
    background-color: #dcdcdc;
    /* grid-area: header; */
    grid-area: 1/1/2/3;
}

h1 {
    font-size: 5rem;
    text-align: center;
    margin-top:7rem;
}

h3 {
    padding-bottom: 1rem;
}

#post1 {
    background-color: #dcdcdc;
    /* grid-area: post1; */
    grid-area: 2/1/4/2;
    padding: 2rem;
}

#post1_img {
    background-image: url("/images/b1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    margin-top: 5rem;
}

#post1 p {
    font-size: 2rem;
    margin-top: 1rem;
}

span {
    font-weight: 600;
    
}

#post2 {
    background-color: #dcdcdc;
    /* grid-area: post2; */
    grid-area: 4/1/7/2;
    padding: 2rem;
}

#post2_img {
    background-image: url("images/b2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    margin-top: 5rem;
}

#post2 p {
    font-size: 2rem;
    margin-top: 1rem;
}
#avatar {
    background-image: url("images/man-avatar.png");
    background-size: cover;
    height: 70px;
    width: 70px;
    border-radius: 50%;

}
#about {
    background-color: #dcdcdc;
    /* grid-area: about_me; */
    grid-area: 2/2/3/3;
    padding: 2rem;
}

#about p {
    padding-top: 1rem;
}

#popular {
    background-color: #dcdcdc;
    /* grid-area: popular; */
    grid-area: 3/2/5/3;
    padding: 2rem;
}

#pop_pic1 {
    background-image: url("images/p1.jpeg");
    background-size: cover;
    height: 75px;
    width: 150px;
    margin-bottom: 2rem;
}

#pop_pic2 {
    background-image: url("images/p3.jpg");
    background-size: cover;
    height: 75px;
    width: 150px;
    margin-bottom: 2rem;
}

#pop_pic3 {
    background-image: url("images/p2.jpg");
    background-size: cover;
    height: 75px;
    width: 150px;
}

#follow{
    background: #dcdcdc;
    /* grid-area: follow; */
    grid-area: 5/2/6/3;
    padding: 2rem;
}

footer {
    background-color: #bebebe;
    /* grid-area: footer; */
    grid-area: 7/1/8/3;
    text-align: center;
    padding: 7rem;
} 

footer span {
    font-size: 2rem;
    
}

@media screen and (max-width: 141px) {
    #container {
        display: block;}

}

